freeyou-n8n-didit-workflow.json
{
  "name": "FreeYou – Zoho Lead Qualified → Didit KYC",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "freeyou-kyc",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Zoho Webhook (Lead Qualified)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "freeyou-kyc-trigger"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-immediately",
      "name": "ACK to Zoho",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "first-name",
              "name": "firstName",
              "value": "={{ $json.body.First_Name || $json.body['First Name'] || '' }}",
              "type": "string"
            },
            {
              "id": "last-name",
              "name": "lastName",
              "value": "={{ $json.body.Last_Name || $json.body['Last Name'] || '' }}",
              "type": "string"
            },
            {
              "id": "full-name",
              "name": "fullName",
              "value": "={{ ($json.body.First_Name || $json.body['First Name'] || '') + ' ' + ($json.body.Last_Name || $json.body['Last Name'] || '') }}",
              "type": "string"
            },
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.Email || $json.body.email || '' }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone",
              "value": "={{ $json.body.Phone || $json.body.phone || '' }}",
              "type": "string"
            },
            {
              "id": "lead-id",
              "name": "leadId",
              "value": "={{ $json.body.id || $json.body.Lead_ID || '' }}",
              "type": "string"
            },
            {
              "id": "vendor-data",
              "name": "vendorData",
              "value": "=fy_{{ $json.body.Phone || $json.body.phone }}_{{ $now.toMillis() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-fields",
      "name": "Extract Lead Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://verification.didit.me/v3/session/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "={{ $vars.DIDIT_WORKFLOW_ID }}"
            },
            {
              "name": "vendor_data",
              "value": "={{ $json.vendorData }}"
            },
            {
              "name": "callback",
              "value": "https://freeyou.co.in/kyc-complete"
            },
            {
              "name": "prefill",
              "value": "={{ { email: $json.email, full_name: $json.fullName, phone: $json.phone } }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "create-didit-session",
      "name": "Create Didit KYC Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 380],
      "credentials": {
        "httpHeaderAuth": {
          "id": "didit-api-key",
          "name": "Didit API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-session-url",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-didit-success",
      "name": "Session Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 380]
    },
    {
      "parameters": {
        "fromEmail": "hello@freeyou.co.in",
        "toEmail": "={{ $('Extract Lead Fields').item.json.email }}",
        "subject": "Complete Your KYC Verification – FreeYou",
        "emailType": "html",
        "message": "=<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <img src=\"https://freeyou.co.in/logo.png\" alt=\"FreeYou\" style=\"height: 40px; margin-bottom: 20px;\" />\n  \n  <h2 style=\"color: #1a1a2e;\">Hi {{ $('Extract Lead Fields').item.json.firstName }},</h2>\n  \n  <p>Great news! You've been shortlisted for the FreeYou freelance platform.</p>\n  \n  <p>To complete your onboarding, please verify your identity using the secure link below. \n  This takes about 2-3 minutes and requires a valid government-issued ID \n  (Aadhaar, PAN, Passport, or Driving Licence).</p>\n  \n  <div style=\"text-align: center; margin: 30px 0;\">\n    <a href=\"{{ $json.url }}\" \n       style=\"background-color: #f4a261; color: white; padding: 14px 28px; \n              text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 16px;\">\n      Start KYC Verification →\n    </a>\n  </div>\n  \n  <p style=\"color: #666; font-size: 13px;\">This link is valid for 24 hours. \n  Your data is processed securely and not stored beyond verification.</p>\n  \n  <p>Warm regards,<br/><strong>Team FreeYou</strong></p>\n  \n  <hr style=\"border: none; border-top: 1px solid #eee; margin-top: 30px;\"/>\n  <p style=\"color: #999; font-size: 11px;\">\n    FY Freelancing Solutions (OPC) Pvt. Ltd. · freeyou.co.in\n  </p>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-kyc-email",
      "name": "Send KYC Email to Lead",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 260]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://www.zohoapis.in/crm/v2/Leads/{{ $('Extract Lead Fields').item.json.leadId }}",
        "authentication": "oAuth2",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ [ { Lead_Status: 'KYC Sent', KYC_Session_ID: $('Create Didit KYC Session').item.json.id } ] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-zoho-kyc-sent",
      "name": "Update Zoho: KYC Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SLACK_WEBHOOK_URL || 'https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=⚠️ Didit KYC session creation FAILED for {{ $('Extract Lead Fields').item.json.fullName }} ({{ $('Extract Lead Fields').item.json.email }}). Error: {{ $('Create Didit KYC Session').item.json.message || 'Unknown' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-failure",
      "name": "Alert: KYC Session Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 560]
    }
  ],
  "connections": {
    "Zoho Webhook (Lead Qualified)": {
      "main": [
        [
          {
            "node": "ACK to Zoho",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Lead Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead Fields": {
      "main": [
        [
          {
            "node": "Create Didit KYC Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Didit KYC Session": {
      "main": [
        [
          {
            "node": "Session Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Created?": {
      "main": [
        [
          {
            "node": "Send KYC Email to Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Zoho: KYC Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert: KYC Session Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["freeyou", "kyc", "didit", "zoho"],
  "triggerCount": 1,
  "updatedAt": "2026-06-20T00:00:00.000Z",
  "versionId": "freeyou-v1"
}
